# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.cbp
*.depend
*.layout

# Build files
/build
/.vscode
/.git
/.roms
# These are publically available on other GitHub repositories. Not sure on the legality of distributing them, so i'm not.
roms/15PUZZLE.ch8
roms/AIRPLANE.ch8
roms/BC_test.ch8
roms/BLINKY.ch8
roms/BLITZ.ch8
roms/BREAKOUT.ch8
roms/BRIX.ch8
roms/CAVE.ch8
roms/CONNECT4.ch8
roms/FIGURES.ch8
roms/FILTER.ch8
roms/GUESS.ch8
roms/HIDDEN.ch8
roms/HIDDEN.txt
roms/IBM.ch8
roms/INVADERS.ch8
roms/KALEID.ch8
roms/LANDING.ch8
roms/MERLIN.ch8
roms/MISSILE.ch8
roms/PADDLES.ch8
roms/PONG.ch8
roms/PONG(1P).ch8
roms/PONG2.ch8
roms/PUZZLE.ch8
roms/ROCKET.ch8
roms/SC_Test.sch8
roms/SOCCER.ch8
roms/SPACEF.ch8
roms/SQUASH.ch8
roms/SYZYGY.ch8
roms/TANK.ch8
roms/TETRIS.ch8
roms/TICTAC.ch8
roms/TRON.ch8
roms/UFO.ch8
roms/VBRIX.ch8
roms/VERS.ch8
roms/WALL.ch8
roms/WIPEOFF.ch8
roms/SOURCES/15PUZZLE.SRC
roms/SOURCES/bc_test.asm
roms/SOURCES/BC_test.txt
roms/SOURCES/BLINKY.SRC
roms/SOURCES/BREAKOUT.SRC
roms/SOURCES/BRIX.SRC
roms/SOURCES/MAZE.SRC
roms/SOURCES/PONG.SRC
roms/SOURCES/PONG2.SRC
roms/SOURCES/SC_Test.txt
roms/SOURCES/SYZYGY.SRC
roms/SOURCES/UFO.SRC
roms/SOURCES/VBRIX.SRC
